/*-- scss:defaults --*/

//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@200;400;500&display=swap');

// Colors 
$dark-purple: #540202;
$dark-orange: #FFA012;
$cream: #FDFBF7;
$platinum: #E5E6E6;
$brown: #372500;

$light-yellow: #EFC274;
$light-blue:#B4D2EC;
$dark-gray: #32333E;
$light-brown: #9E7253;
$light-gray: #687B8A;
$dark-blue:#1F3452;
$my-font-size: 25px;
$lighter-blue: #bad8f1eb;
$white: #ffffff;

// Base Document Colors
$navbar-bg: $cream;
$navbar-fg: $dark-blue; // nav bar text
$navbar-hl: $dark-orange; // nav bar text highlight when clicked
$body-bg: $white; // background color
$body-color: $dark-blue; // page text 
$footer-bg: $cream; // footer
$link-color: $dark-blue; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $dark-gray; // inline code text color

// Code blocks
$code-block-bg: $white; // code block background color
$code-block-padding-left: $cream;
$code-block-bg-padding: 1.0em;



/*-- scss:rules --*/

h1, h2 {
  letter-spacing: 5px;
  color: $dark-gray;
  
}

.title {
  color: $dark-gray;
  
}


.center-text {
  color: $light-brown;
  
}